# generated with `pnpx porto onboard -a`
MERCHANT_ADDRESS=""
# example: `cast wallet private-key --mnemonic "test test test test test test test test test test test junk" --mnemonic-index 3`
MERCHANT_PRIVATE_KEY=""